/* Shared */
.se-rate-highlight {
    border-radius: 4px;
}

/* Prolific */
[data-testid="study-tag-reward-per-hour"].se-rate-highlight {
    padding: 3px 4px;
}
.se-custom-btn {
    padding: 8px 24px;
    border-radius: 4px;
    font-size: 0.9em;
    background-color: #0a3c95;
    color: white;
    cursor: pointer;
    text-decoration: none;
}
.se-custom-btn:hover {
    background-color: #0d4ebf;
    color: white !important;
}
.se-btn-container {
    padding: 0 16px 8px 16px;
}

/* CloudResearch */
.se-rate-highlight .cr-text-highlight-primary,
.se-rate-highlight .cr-text-secondary {
    color: white !important;
}
